@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

.dashboard, 
.nav,
h3,
h2,
h1,
p,
.handle,
.greeting,
.button,
.user-fullname,
.user-handle {
    font-family: 'Poppins', sans-serif;;
}

.dashboard {
    font-size: 2.2rem;
    font-weight: 600;
    color: white;
}

.nav,
h1 {
    font-size: 2rem;
}

.nav {
    color: white;
}

.material-icon, .dash-logo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(19deg) brightness(103%) contrast(101%);
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

p {
    font-weight: 300;
}

.star,
.share,
.watch {
    padding: 8px;
}

.text,
p.tag-text {
    font-weight: 100;
}

.greeting {
    font-weight: 300;
    
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    border-color: blue;
    height: 100vh;
    gap: 10px;
    background-color: #e2e8f0;
}   

div {
    border: 1px;
    border-style: solid;
}

.header {
    border-color: green;
    grid-area: 1 / 2;
    background-color: #fff;
}

.sidebar {
    border-color: orange;
    grid-area: 1 / 1 / 4 / 2 ;
    background-color: #0ea5e9;
}

.main {
    border-color: black;
    grid-area: 2 / 2 / 4 / 4;
    display: grid;
    grid-template: 1fr / 2fr 1fr;
    gap: 10px; 
    

}

.projects {
    border-color: rgb(233, 255, 64);
    grid-area: 1 / 1 ;
    
}

.ann-trend{
    grid-area: 1 / 2;
    display: grid;
    grid-template: auto auto / 1fr;
    gap: 10px;
}

.announcements {
    border-color: red;
    grid-area: 1 / 1;
    background-color: #fff;
}

.trending {
    border-color: aqua;
    grid-area:  2 / 1;
    background-color: #fff;  
}

li {
    list-style: none;
}

li.proj-item {
    border: 1px solid orange;
}
li.ann-items {
    border: 1px solid navy;
}
li.trend-items {
    border: 1px solid gray;
}

.button {
    display: inline-block;
    padding: 8px 30px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0ea5e9;
    border: none;
    border-radius: 15px;
   
}

.button:hover {
    background-color: #0ea5e9;
}

.button:active {
    background-color: green;
    box-shadow: 0 .5px #666;
    transform: translateY(2px);
}

.search-input input {
    width: 500px;
    min-height: max-content;
}